body{
    overflow: hidden;
    display:flex;
    justify-content: center;
    align-items: center;
    
}
.caja{
    width: 425px;
    height: 637px;
}

#img{
    position:relative;
}

#muneco{
    width: 100px;
    height: 100px;
    margin-top: -450px;
    margin-left: 150px;
    z-index: 1;
    position: absolute;
    display: flex;
    justify-content: center;
}

#input1{
    position: relative;
    width: 250px;
    height: 30px;
    top: -250px;
    left: 80px;
    box-shadow: -2px 4px 1px;
}

#boton1{
    position: relative;
    background-color: rgb(32, 28, 28);
    margin-left: 30px;
    top:-150px ;
    left: -230px;
    width: 100px;
    height: 50px;
    z-index: 1;
    box-shadow: -4px 3px 1px;
    
}

#boton2{
    position: relative;
    background-color: rgb(32, 28, 28);
    margin-left:130px;
    top:-199px ;
    left:100px;
    width: 100px;
    height: 50px;
    z-index: 1;
    border-radius: solid 5px black;
    box-shadow: -4px 3px 1px;
}

#tabla{
    width: 120px;
    height: 20px;
    position: relative;
    top: -290px;
    left: 200px;
}
